.flex-row {
  display: flex;
  flex-direction: row;
  height: min-content;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-align {
  align-items: center;
}

.lighter {
  color: var(--lighter);
}

.highlight {
  stroke: var(--highlight) !important;
  fill: var(--highlight) !important;
}

.bold {
  font-weight: 800;
}

.spacer {
  width: 1rem;
  min-height: 1rem;
}

.borderless {
  border: 1px solid transparent;
}