.horizontal-flex-row {
  display: flex;
  flex-direction: row;
  position: relative;
}

.highlight {
  stroke: var(--highlight) !important;
  fill: var(--highlight) !important;
}

.center-align {
  align-items: center;
}

.lighter {
  color: var(--lighter);
}

.bold {
  font-weight: 800;
}