:root {
  --primary: #18191E;
  --secondary: #1D2027;
  --tertiary: #22252E;
  --quaternary: #121317;
  --grey: #666666;
  --highlightBlue: #0099FF;
  --highlightBlueActive: #0088ff;
  --white: #ffffff;
  --boxShadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.03);
  --seperator: rgba(66, 70, 92, 0.4);
}