:root {
  --lighter: #818384;
  --white: #ffffff;
  --primary: #030303;
  --secondary: #1a1a1b;
  --secondaryHov: #272729;
  --secondaryAct: #2f2f31;
  --tertiary: #272729;
  --active: #202124;
  --highlight: #50fa7b;
  --darkModifier: #171717;
  --border: #474748;
  --borderDark: #343536;
  --blue: #00a2d9;
  --blueHov: #1c8abd;

  &:first-child {
    margin: 1rem;
  }
}

@import '../src/assets/scss/globalUtils.scss';
@import '../src/assets/scss/global.scss';
@import '../src/assets/scss/modules/index.scss';
@import '../src/assets/scss/defaultOverrides.scss';

//fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
